.flat
*.exe
*.zip
.gradle
reports/
.scannerwork
*/build
coverage-report/*.ec
coverage-report/*.xml
coverage-report/*.csv
build
.idea
*.iml
*.DS_Store
local.properties
captures
classyshark_recents.properties
classyshark_ui.properties
.gitconfig
kompis/release
*/userdata/*
developerKeys.gradle
jacoco.exec
